/* your custom css */

.community {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1em;
}

.community > .community__tab {
  max-width: 100px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.community__tab-link,
.community__tab-icon,
.community__tab-name {
  color: #dcdcdc;
}

@media only screen and (max-width: 568px) {
  .community {
    max-width: 280px;
  }

  .community > .community__tab {
    max-width: 70px;
  }
  
  .community__tab svg {
    font-size: 2em;
  }

  .community__tab-name {
    font-size: 12px;
  }
}


@media only screen and (min-width: 568px) and (max-width: 735px) {
  .community {
    max-width: 300px;
  }
}

@media only screen and (min-width: 736px) {
  .community {
    max-width: 400px;
  }
}

.nav-footer {
  background: $footerColor;
}