.community {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.community > .community__tab {
  max-width: 100px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.community__tab-name {
  margin-top: 2.5px;
  text-transform: capitalize;
}

.community__tab-link,
.community__tab-icon,
.community__tab-name {
  color: #dcdcdc;
}

.nav-footer {
  background: #36324a;
  border: none;
  color: #202020;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 2em;
  padding-top: 2em;
  position: relative;
}

.nav-footer .copyright {
  color: hsla(0, 0%, 100%, 0.4);
  text-align: center;
}

@media only screen and (max-width: 568px) {
  .community {
    max-width: 280px;
  }

  .community > .community__tab {
    max-width: 70px;
  }

  .community__tab svg {
    font-size: 2em;
  }

  .community__tab-name {
    font-size: 12px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 735px) {
  .community {
    max-width: 300px;
  }
}

@media only screen and (min-width: 736px) {
  .community {
    max-width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-footer {
    flex-shrink: 0;
  }
}
