@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .block-image::after {
    @apply h-full w-0 inline-block align-middle;
    content: '';
  }
  /* start - to hide scrollbar */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  ::-webkit-scrollbar {
    display: none;
  }
  /* end - to hide scrollbar */

  #nprogress .bar,
  #nprogress .spinner {
    @apply z-10000 top-24 lg:top-13;
  }
}
