@tailwind base;
@tailwind components;
@tailwind utilities;

.block-image::after {
  @apply inline-block h-full w-0 align-middle;

  content: '';
}

/* start - to hide scrollbar */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

/* end - to hide scrollbar */

#nprogress .bar,
#nprogress.spinner {
  @apply top-25 z-990 lg:top-13;

  position: fixed !important;
}

/* start - likecoin button */
.likecoin-button {
  position: relative;
  width: 100%;
  max-width: 485px;
  max-height: 240px;
  margin: 0 auto;
}

.likecoin-button > div {
  padding-top: 49.4845%;
}

.likecoin-button > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* end - likecoin button */
