.header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  text-align: left;
}

.header a {
  align-items: center;
  border: 0;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  height: 34px;
  z-index: 10000;
}

.header img {
  height: 100%;
  margin-right: 10px;
  box-sizing: content-box;
  max-width: 100%;
}

.header h2 {
  display: block;
  font-size: 1.25em;
  line-height: 18px;
  margin: 0;
  position: relative;
  z-index: 9999;
}

.container {
  position: fixed;
  width: 100%;
  z-index: 9999;
  transform: translateZ(0);
  background: #584f8d;
  color: #fff;
  min-height: 50px;
  padding: 8px 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.navigation nav {
  bottom: auto;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.navigation nav ul {
  background: #8f5881;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 50px;
  padding: 0;
  width: 100%;
}

.navigation nav ul li {
  flex: 1 1 auto;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.navigation nav ul li > a {
  border: 0;
  display: flex;
  flex-flow: row nowrap;
  z-index: 10000;
  align-items: center;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 0.9em;
  height: 50px;
  justify-content: center;
  margin: 0;
  padding: 10px;
  transition: background-color 0.3s;
}

.navigation nav ul li > a:hover {
  background-color: #584f8d;
}

.navigation nav ul li > a.active {
  color: #ffffff;
  background-color: #584f8d;
  font-weight: 400;
}

@media only screen and (min-width: 1024px) {
  .container {
    flex-shrink: 0;
  }
  .navigation {
    height: 34px;
    margin-left: auto;
    position: relative;
  }
  .navigation nav {
    background: none;
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
  }
  .navigation nav ul {
    background: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    width: auto;
  }
  .navigation nav ul li a {
    border: 0;
    color: hsla(0, 0%, 100%, 0.8);
    display: flex;
    font-size: 16px;
    font-size: 1em;
    font-weight: 300;
    height: 32px;
    line-height: 1.2em;
    margin: 0;
    padding: 6px 10px;
  }
  .navigation nav ul li > a.active {
    color: #fff;
    font-weight: 400;
  }
  .navigation nav ul li > a:hover {
    color: #fff;
  }
}
