a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

a,
a:hover {
  color: #584f8d;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 1.5em;
}

h2 {
  font-size: 24px;
}

ol,
ul {
  margin-bottom: 1em;
  margin-top: 0;
  padding-left: 2em;
}

li {
  word-wrap: break-all;
}

li + li {
  margin-top: 0.25em;
}

img {
  border-style: none;
  box-sizing: content-box;
  max-width: 100%;
}

body {
  background-color: #fff;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.center,
.homeContainer {
  text-align: center;
}

.homeContainer .homeWrapper {
  padding: 2em 10px;
}

.homeContainer .homeWrapper .wrapper {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 20px;
}

.projectTitle {
  color: #584f8d;
  font-size: 250%;
  line-height: 1em;
}

.projectTitle > small {
  display: block;
  font-weight: 400;
  font-size: 50%;
  line-height: 1em;
  margin: 0.7em 0 1.3em;
}

.gridBlock {
  padding: 0;
}

.gridBlock > * {
  box-sizing: border-box;
}

.gridBlock .fourByGridBlock img,
.gridBlock .threeByGridBlock img,
.gridBlock .twoByGridBlock img {
  max-width: 100%;
}

.alignCenter {
  text-align: center;
}

.blockImage {
  max-width: 730px;
}

.imageAlignTop .blockImage {
  margin-bottom: 20px;
  max-width: 80px;
}

.imageAlignTop.alignCenter .blockImage {
  margin-left: auto;
  margin-right: auto;
}

.container .gridBlock .blockContent p {
  padding: 0;
}

.container .wrapper .alignCenter h2 {
  text-align: center;
}

.container.paddingBottom {
  padding-bottom: 80px;
}

.container.paddingTop {
  padding-top: 80px;
}

@media only screen and (max-width: 735px) {
  .container.paddingBottom {
    padding-bottom: 40px;
  }

  .container.paddingTop {
    padding-top: 20px;
  }
}

.projectTitle {
  margin: 0.5em 0 1.5em;
}

.homeSplashFade {
  background: url('/cover.jpg');
  min-height: 800px;
  background-size: cover;
  background-position: 50%;
}

.feature-topic {
  background: hsla(0, 0%, 100%, 0.75);
  border-radius: 0.75em;
}

.feature-topic > .wrapper {
  color: #565656;
  font-weight: 550;
}

.blockContent > div {
  text-align: left;
}

.imageAlignTop .blockImage {
  max-width: 150px;
  min-height: 150px;
  position: relative;
}

.imageAlignTop .blockImage:after {
  content: '';
  height: 100%;
  width: 0;
}

.imageAlignTop .blockImage:after,
.imageAlignTop .blockImage img {
  display: inline-block;
  vertical-align: middle;
}

.unsplash-hint {
  margin: 1em 0;
  text-align: center;
  color: #dedede;
  font-size: 0.9em;
}

.unsplash-hint > a {
  display: inline-block;
  margin: 0 0.25em;
  font-weight: 700;
  color: #fecc4d;
}
